

/* footer */


footer{
  background: #60C7FA;              
  font-family: "Noto Sans TC", system-ui, "Segoe UI", "Helvetica Neue", Arial, "PingFang TC", "Microsoft JhengHei",
               "微軟正黑體", sans-serif;
  color: #111;
  margin-top: 32px;
  bottom: 0;
  
}
.containerfooter{
  width: 1200px;                 
  height: 268px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  gap: 96px;        
}


.footer-container{
    /* flex: 0 0 520px;  */
}
.info-text-group{
  display: flex;
  gap: 116px;        

}
.info-text{
    padding-top: 48px;
}

/* 左側資訊區 */
.info-logo{ 
    padding-top: 48px;
    display: flex; 
}

.info-logo img{
  display: block;
  width: 100px;
  height: 60px;
  object-fit: contain;
}

.info-logo ul{
  display: flex;
  align-items: center;
  padding-left: 0px;


}
.info-logo ul li{
    width: 188px;
    height: 48px;
    line-height: 1.6;
    font-weight: 700;              
}

/* icon.文字*/
.info{
    width: 300px;
    padding-top: 26px;
}
.address, .tel, .email, .web{
  display: flex;
  gap: 8px;
  line-height: 1.5;
  align-items: center;
}

.address i, .tel i, .email i, .web i{
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.address i{
  margin-left: 4px;
}

.address span ,.tel span, .email span, .web span{ 
    font-weight: 700; 
    font-size: 16px;
}
.address span{
  padding-left: 4px;
}

.info-about .p-title{
  font-size: 20px;
  font-weight: 800;
  margin: 2px 0 12px;
  flex-wrap: nowrap;
}

.info-about ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  row-gap: 12px;
}

.info-text-group > .info-text > .info-about > .p-title > ul > li{
  white-space: nowrap;
}
.info-about a{
  color: #0a0a0a;
  text-decoration: none;
  font-weight: 700;
  white-space: nowrap;  
}

.info-about a:hover{
  text-decoration: underline;
}

/* LINE QR  */
.line{
    padding-top: 48px;
    width: 184px;                    
    height: 206px;
    margin: 0 auto; 
}
.line img{
    width: 184px;                    
    height: 206px;        
}

/* 版權列 */
.container-copyright{
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
    
}

.container-copyright::before{
  width: 1200px;
  content: "";
  position: absolute;
  left: 0; right: 0; top: 0;
  height: 2px;
  background: #0c0c0c;
}

.container-copyright .text{
  width: 250px;
  height: 32px;
  color: #0c0c0c;
  font-weight: 700;
  padding-top: 12px;
}

.container-copyright .text p{
  margin: 0;
  font-size: 16px;
}