@import url('reset.css');


/* header */
header{
    /* 固定 */
    position: sticky;
    top: 0px;
    background-color: #60F8FA;
    backdrop-filter: blur(5px);
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 5px 5px 0px #77adff40;

}



.container{
    max-width: 1200px;
}

.logo-container{
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 100px;    
}


.nav-logo a{}

.nav-logo img{
    margin-left: 12px;
}


.search {
  background-color: white;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 5px 10px;
  width: 250px;
}

.search input {
  border: none;
  outline: none;
  flex: 1;
}

.search i {
  color: gray;
  cursor: pointer;
}

