@media screen and (max-width: 1200px){
    .containerheader{
        width: calc(100% - 24px);
        padding: 0 12px 0 12px;  
    }
    section{
        width: calc(100% - 24px);
        padding: 0 12px 0 12px;
    }
    .promo{
        width: calc(100% - 24px);
        padding: 0 12px 0 12px;
    }

    .containerfooter{
        width: calc(100% - 24px);

    }

    .container-copyright{
        width: calc(100% - 24px);

    }
    
    .container-copyright::before{
        width: calc(100% - 12px);
    }
    .info-text > .info-about > .p-title > ul > li{

    }
    .info-text-group{
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 36px;
    }

    /* header寬度寫死 RWD的時候用比例去分配 */
}

@media screen and (max-width: 1150px){
    .nav{
        margin-left: 0;
    }
}


@media screen and (max-width: 1050px){
    .nav{ 
        display: none; 
    } 
    .login{ 
        display: none; 
    } 
    
    .RWD-icon{
        display: flex;
        margin-left: auto;
        gap: 8px; 

    }

    .memberlogin-RWD,
    .cart-RWD{
        display: block; 
        color: #818181;
    }

    .memberlogin-RWD > .person,
    .cart-RWD > a{
        display: flex;                
        align-items: center;          
        justify-content: center;      
        width: 34px;
        height: 34px;
        border: 0;
        background: transparent;
        cursor: pointer;
        text-decoration: none;
        color: #818181;
    }

    .memberlogin-RWD > .person > i,
    .cart-RWD > a > i{
        font-size: 24px;
        line-height: 1.5;
     }

    .barmenu{
            display: block;
            padding: 0 0 0 3px;
            position: absolute;
            right: 100px;
            cursor: pointer;

            
    }
    .bar{   
            width: 36px;
            height: 6px;
            background-color: #666;
            margin: 6px 0px;
           
            border: 0;
            border-radius: 3px;
        }


}


@media screen and (max-width: 820px){
/*    index-RWD       */
    
    header{
            position: sticky;
            top: 0;
            height: auto;            
            align-items: flex-start; 
    }

    .containerheader{
            display: flex;
            align-items: center;
            padding: 12px 8px 12px 8px;
            position: relative;
    }


    footer{
        bottom: 0;
    }
    .info-text-group{
        gap: 12px;
    }
    .info-text{
        padding: 0;
    }

    .containerfooter{
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            gap: 8px;
            padding: 0 8px 0 8px;
    }

    .container-copyright{
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            gap: 8px;
            padding: 0 8px 0 8px;
    }

    .footer-container{
        height: 100%;
        padding-top: 72px;
    }
    .info-logo{
        padding: 0;
    }

    .info-text{
        height: 100%;
    }

    .line{
        height: 100%;
        margin: 0;
    }
    .container-copyright::before{
        width: 100%;
    }

    .nav{
        display: none;
        position: fixed;
        width: 100%;
        /* 重要 */
        height: calc(100vh);
        background-color: #60C7FA;
        top: 98px;
        right: -100%;
        margin: 0;
    }

    .nav.open{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        right: 0;
    }
    .nav-btn{
        margin-right: auto;
    }

    .nav-btn:nth-child(2) > .dropdown{
        display: none;
        background-color: transparent;
        outline: 0;
        padding-left: 16px;
        transform: translateY(0);
    }

    .nav-btn:nth-child(2) > a{
        padding-left: 16px;
    }


    .nav-btn:nth-child(2) > .dropdown.dropopen{
        display: block;
        position: static;
    }


    .nav-btn > a::after{
        display: none;
    }

    .dropdown-link > a::after{
        display: none;
    }

    .promo{
        max-width: calc(100% - 96px);
        height: auto;
        margin: 0;
        padding: 0 48px 0 48px;
    }

    .promo-card,
    .video-wrap{
        max-width: 100%;
        height: auto;
        flex-direction: column;
        gap: 32px;
        padding: 16px 0 16px 0;

    }

    .carousel{
        width: calc(100% - 32px);
        height: auto;
    }

    .JQcarousel{
        width: calc(100% - 32px);
        height: auto;
        margin: 0 auto;
    }

    .carousel-inner > .carousel-item > img{
        width: 100%;
        height: auto;

    }
    .JQcarouselimg{
        width: 100%;
        height: auto;
    }
    
    .filter{
        max-width: calc(100% - 96px);
        height: auto;
        margin-top: 32PX;
        padding: 0 48px 0 48px;
       
    }
    .video-wrap{
        grid-template-columns: 0.5fr;
        justify-content: center;
    }

    .video-card:nth-child(2),
    .video-card:last-child{
        display: none;        
    }
    

/*   product-list-RWD        */
    .breadcrumb{
        max-width: calc(100% - 32px);
        height: auto;
        padding: 0 16px 16px 16px;   
    }
    .contain-product{
        max-width: calc(100% - 24px);
        height: auto;
        padding: 0 12px 0 12px;
        flex-direction: column;       
    }

    .product-list-promo{
        max-width: calc(100% - 24px);
        height: auto;
        padding: 0 12px 0 12px;
        grid-template-columns: auto auto;
        column-gap: 48px;
    }
    .filterin{
        max-width: 100%;
        margin: 0;
    }
    .product-list{
        column-gap: 60px;
        padding-left: 0;
        row-gap: 24px;
        grid-template-columns: 1fr  1fr;
        margin: 0 auto;
    }
    
    .pagination-g{
        width: calc(100% - 24px);
        margin: 0 auto;
        margin-top: 32px;
        padding: 0;
    }

    .product-card{
        max-width: 100%;
    }

    .filter-in-left{
        width: 100%;
    }

    /* productdetail RWD */

    .product-detail-out{
        margin: 0 auto;
    }

    .product-detail-top{
        width: 100%;
        display: grid;
        grid-template-columns: auto 1fr;
        padding-bottom: 0;
    }

    .product-detail-img {
        display: grid;
        grid-template-rows: 1fr 0.5fr;
        gap: 0;
    }
    .product-detail-img-small{
        align-items: center;
    }
    .product-detail-caption{
        display: grid;
        grid-template-rows: 1fr 0.5fr 2.5fr 1fr;
        gap: 8px;
    }

    .product-cta{
        margin: 0 auto;

    }

    .product-detail-down {
        width: 100%;
    }

    .product-caption{
        width: 100%;
    }
    .product-price{
        line-height: 2;
        font-size: 28px;
        font-weight: 700;
        color: #ea1717;
        align-items: center;
        padding: 8px 16px;
    }


/*  about RWD   */

    .forallbanner {
        width: calc(100% - 24px);
        margin: 0 auto;
        margin-bottom: 16px;
    }

    .about{
        flex-direction: column;
        width: calc(100% - 24px);
        height: auto;
        margin: 0 auto;
    }

    .sidebar{
        width: 100%;
    }   

    .about-content-out{
        width: 100%;
    }
/* cart RWD */
    .cart-container{
        width: calc(100% - 24px);
        grid-template-columns: 1fr;  
    }

    .cart-items{
        order: 1;

    }


    .cart-summary{
        order: 0;
    }

    .checkout-bar{
        margin: 0 auto;
        width: calc(100% - 24px);
    }

    .subtotal-price{
        font-size: 36px;     
    }


    .sell-container{
        width: calc(100% - 24px);
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.5fr; 
    }

}


@media screen and (max-width: 440px){
    /* headerfooter 440RWD */
    .memberlogin-RWD,
    .cart-RWD{
        display: block; 
        color: #818181;
    }

    .memberlogin-RWD > .person,
    .cart-RWD > a{
        display: flex;                
        align-items: center;          
        justify-content: center;      
        width: 34px;
        height: 34px;
        border: 0;
        background: transparent;
        cursor: pointer;
        text-decoration: none;
        color: #818181;
    }

    .memberlogin-RWD > .person > i,
    .cart-RWD > a > i{
        font-size: 24px;
        line-height: 1.5;
     }

    .Login-Modal{
        max-width: calc(100% - 24px);
        padding: 0 12px 0 12px;
    }

    .Login-Modal-content{
        width: calc(100% - 24px);
        padding: 0 12px 0 12px;
        height: auto;
        grid-template-rows: 0.3fr 0.3fr 0.3fr 0.2fr 0.2fr;
    }

    .Login-h3 > .cancel{
        position: absolute;
        right: 0;
        top: 12px;
    }



    .containerfooter{
            display: flex;
            width: 100%;
            height: auto;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            gap: 16px;
            padding: 0 8px 0 8px;
    }
    
    .footer-container{
        padding-top: 24px;
        margin: 0 auto;
    } 

    .line{
        padding: 24px 0 24px 0;
    }

    /* index container RWD */
    .promo > .text{
        padding: 16px 16px;
    }
    /* promo RWD */
    .product-list-promo{
        max-width: calc(100% - 24px);
        height: auto;
        padding: 0 12px 0 12px;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        column-gap: 48px;
    }
    /* productlist RWD */
    .product-card:first-child{
        display: flex;
    }
    .product-list{
        column-gap: 0;
        padding-left: 0;
        row-gap: 24px;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        margin: 0 auto;
    }

    .filterin{
        max-width: 100%;
        margin: 0;
    }

    .pagination-g > .pagination > a{
        padding: 8px 12px;
    }

    /* productdetail RWD */

    .contain-product{
        padding: 0 16px 0 8px;
    }
    .product-detail-out{
        margin: 0 auto;
    }
    .filterin{
        margin-left: 12px;
    }
    .product-detail-top{
        width: 100%;
        display: grid;
        grid-template-columns: none;
        grid-template-rows: 1fr 0.8fr;
        
    }
    .product-detail-caption{
        display: grid;
        
        grid-template-rows: 1fr 0.5fr 2.5fr 1fr;
    }

    .product-cta{
        margin: 0 auto;

    }

    .product-detail-down {
        width: 100%;
    }

    .product-caption{
        width: 100%;
    }
    .down-img{
        flex-direction: column;
    }
    .down-img > img{
        width: calc(100%);
        margin: 0 auto;
    }
    .product-caption-nav{
        padding-bottom: 0;
    }
    .product-caption-nav > .tabs > .tab{
        padding: 8px 4px 8px 4px;
    }

    .product-caption-contain{
        padding-top: 12px;
    }

    /* cart RWD */
    .cart-item{
        display: grid;
        grid-template-columns: none;
        grid-template-rows: 1fr 0.5fr;
        gap: 18px;
        align-items: start;
        padding-top: 16px;
    }
    .item-left img{
        /* width: 220px; */
        height: auto;

    }

    .subtotal{
        flex-direction: column;
    }
    .btn-checkout{
        width: 160px;
    }


    .modal-content{
        width: calc(100% - 36px);
        padding: 20px 12px 20px 12px;
    } 

    .register-row{
        width: calc(100% - 24px);
    }

    .remove-btn{
        left: 0;
        right: auto;
    }
}